* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1230px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 570px;
    }
}

/* Block-Stats */
.block-stats {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f9fafc;
}

.block-stats-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.block-stats-wrap {
    flex: 0 0 645px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.wrap-box {
    flex: 0 0 300px;
    height: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 25px 100px 0px rgba(69, 88, 157, 0.08);
    text-align: center;
}

.wrap-box h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -1.5px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.wrap-box-title-1 {
    color: #28d1dc;
}

.wrap-box-title-2 {
    color: #ff753a;
}

.wrap-box-title-3 {
    color: #fa578e;
}

.wrap-box-title-4 {
    color: #28dcb2;
}

.wrap-box p {
    max-width: 190px;
    margin: 0px auto 95px;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.2px;
    color: #0f2137;
}

.block-stats-content {
    flex: 0 1 100%;
    height: 390px;
}

.block-stats-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #0f2137;
    margin-top: 0;
    margin-bottom: 20px;
}

.block-stats-text {
    font-size: 17px;
    line-height: 42px;
    color: #02073e;
    margin-top: 0;
    margin-bottom: 30px;
}

.block-stats-link {
    display: inline-block;
    width: 135px;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    color: #4f96ff;
    text-decoration: none;
}

@media (max-width: 991px) {
    .block-stats {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .block-stats-inner {
        flex-direction: column;
        gap: 60px;
    }

    .block-stats-title {
        font-size: 30px;
        line-height: 50px;
    }
}

@media (max-width: 767px) {
    .block-stats {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .block-stats-inner {
        flex-direction: column;
        gap: 60px;
    }

    .block-stats-wrap {
        flex-direction: column;
        align-items: center;
    }

    .wrap-box {
        flex: 0 0 320px;
        width: 360px;
    }

    .block-stats-content {
        max-width: 360px;
        height: 365px;
    }

    .block-stats-title {
        font-size: 24px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    
    .block-stats-text {
        font-size: 16px;
        line-height: 35px;
        margin-bottom: 15px;
        margin-right: 60px;
    }

    .block-stats-link {
        width: 180px;
        line-height: 42px;
    }
}
/* Block-Stats-End */